@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 0px;
}

@layer utilities {
  .boxshadow {
    box-shadow: 0 0 100px #34c1ed, 0 0 50px #613886, 0 0 100px #34c1ed,
      0 0 200px #34c1ed;
  }
}

.button2 {
  background-color: #34c1ed;
}

.button:hover {
  @apply bg-secondaryColor boxshadow;
}

.fade-in {
  opacity: 0;
  transform: translatex(400px);
  transition: opacity 2s ease, transform 2s ease;
}

.fade-inn {
  opacity: 0;
  transform: translatex(-400px);
  transition: opacity 2s ease, transform 2s ease;
}

.fade-in.active,
.fade-inn.active {
  opacity: 1;
  transform: translateY(0);
}

.reflect {
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.icon {
  @apply text-3xl p-4 bg-mainColor text-white absolute right-4 rounded-full bottom-2 md:bottom-8 md:right-9 shadow-xl hover:shadow-2xl hover:p-[0.55em] hover:text-[2em] cursor-pointer transition-all duration-500 ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.5s infinite;
}

.text-animation {
  background: linear-gradient(to right, #8b23eb, #fff 35%, #34c1ed);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 5s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 75%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 70%;
  }
}

.loader {
  width: 1em;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #34c1ed 94%, #0000) top/6px 6px
      no-repeat,
    conic-gradient(#0000 10%, #34c1ed);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 4px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}

.nav-links::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.15rem;
  bottom: -2px;
  left: 0;
  background-image: linear-gradient(to right, #670bbd, #68cceb);
  border-radius: 0.5em;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav-links:hover::after {
  transform: scaleX(1);
}
